@use "../Utils/variables" as *;

footer {
	background: #353535;
	color: $white;
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	height: 185px;
	h3 {
		font-family: Shrikhand, cursive;
		font-size: 18px;
		font-style: italic;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
	}
	span {
		font-size: 16px;
		font-weight: 400;
		font-style: light;
		padding-top: 5px;
	}
	a {
		text-decoration: none;
		color: $white;
		padding-top: 5px;
	}
	@media screen and (min-width: 1024px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		height: 85px;
	}
	
}
.row {
	display: flex;
	flex-direction: row;
	align-items:baseline;
	
	span {
		font-size: 16px;
		font-weight: 500;
		padding: 3px;
		font-style: medium;
	}
}
.ustensils {
	padding-right: 5px;
}

