.loader {
    position: fixed;
    display: grid;
    place-items: center;
    margin: auto;
     inset : 0 ;
      animation:  disappear 3s forwards;
    -webkit-animation:  disappear 3s forwards;
     
    &::after {
        content: "";
        animation: spin 3s forwards ;
     z-index: 1;
     border-top: 10px solid #9356DC ;
     width: 100px;
     height: 100px;
  border-radius: 50%;
    
   
   
    }
}