*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

h2 {
  font-size: 21px;
  font-weight: 700;
}

.violet {
  color: white;
  background: linear-gradient(200.64deg, #9356DC 0%, #FF79DA 100%);
  border: #F2F2F2;
  border-radius: 25px 25px 25px 25px;
  padding: 10px 14px 10px 14px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-style: medium;
  cursor: pointer;
}
.violet:hover {
  opacity: 0.8;
  box-shadow: 0px 1px 2px 2px #d6d3d3;
  transform: scale(1.1);
}

.grey {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  margin-top: 20px;
  display: flex;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background: #F6F6F6;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .grey {
    width: 80%;
    margin-right: 20px;
  }
}
.grey i {
  color: grey;
  padding-right: 20px;
  padding-left: 20px;
}
.grey i:hover {
  color: #9356DC;
}
.grey p {
  background: #9356DC;
  color: white;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  right: 17px;
  padding: 2px 5px 0px 5px;
  font-size: 14px;
  font-weight: 500;
}
.grey:hover {
  background-color: #F5EDFF;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border-radius: 25px;
  margin-top: 10px;
  height: 60px;
  animation: appear 200ms;
}
.btn span {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: end;
}
.btn p {
  font-size: 13px;
  font-weight: 300;
  margin: 0px;
  padding-top: 5px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  padding-bottom: 50px;
}
.start p {
  width: 82%;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0px;
  text-align: center;
}
.start h1 {
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  height: 200px;
  margin: 5%;
  box-shadow: 5px 5px 5px 1px #aba9a9;
  text-decoration: none;
  color: black;
}
.card img {
  height: 130px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card h3 {
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.card span {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 30%;
    margin: 1%;
    height: 220px;
    display: flex;
  }
}

.image {
  position: relative;
}

#restaurants {
  background-color: #f2f2f2;
  padding-top: 10px;
  height: 60%;
  padding-bottom: 60px;
}
#restaurants h2 {
  padding-left: 25px;
}
@media screen and (min-width: 1024px) {
  #restaurants {
    width: 100%;
    overflow: auto;
    height: 440px;
  }
}

.center {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .center {
    display: flex;
    flex-direction: row;
  }
}

.row2 {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .row2 {
    display: flex;
    flex-direction: row;
    width: 1800px;
  }
}

.textlocation {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.heart {
  font-size: 30px;
  display: grid;
  padding-right: 12px;
  padding-top: 3px;
  font-weight: 300;
}

.full {
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
}
.full:hover {
  opacity: 1;
  background-image: linear-gradient(#9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.empty {
  position: relative;
  z-index: 1;
}

.textcard {
  display: flex;
  justify-content: space-between;
}

.new {
  color: #008766;
  background: #99E2D0;
  margin: 0px;
  padding: 2px;
  width: 75px;
  height: 20px;
  position: absolute;
  left: 72%;
  bottom: 70%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
}

#functioning {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 0px;
  padding-bottom: 40px;
}

#search {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 10px;
  width: 100%;
  box-shadow: inset 0px 4px 5px 0px #e0dddd;
}
#search span {
  padding-left: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headresto {
  display: flex;
  flex-direction: row;
}

footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  height: 185px;
}
footer h3 {
  font-family: Shrikhand, cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
footer span {
  font-size: 16px;
  font-weight: 400;
  font-style: light;
  padding-top: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 85px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.row span {
  font-size: 16px;
  font-weight: 500;
  padding: 3px;
  font-style: medium;
}

.ustensils {
  padding-right: 5px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}
#logo img {
  width: 40%;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  margin: auto;
  inset: 0;
  animation: disappear 3s forwards;
  -webkit-animation: disappear 3s forwards;
}
.loader::after {
  content: "";
  animation: spin 3s forwards;
  z-index: 1;
  border-top: 10px solid #9356DC;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@-webkit-keyframes disappear {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
#position {
  position: relative;
  bottom: 60px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 4% 4% 0% 0%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.menu h1 {
  font-family: Shrikhand;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  padding: 10px 0px;
}
.menu i {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 34px;
  padding: 0px;
  margin-top: 30px;
}
.menu .row {
  justify-content: space-between;
}
.menu .heart {
  padding-top: 0px;
}

.text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#order {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
